@import "tailwindcss";

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gray-100 text-gray-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card {
  @apply bg-white rounded-sm shadow-sm p-5;
}

.scroll-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}